<!doctype html>
<html ng-app="App">
<head>
    <meta charset="utf-8">
    <title>Доступ к ВК</title>
    <script src="https://vk.com/js/api/openapi.js?146" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="css.css" />

</head>
<body ng-controller="AppCtrl">
<script>
    VK.init({
        apiId: 6085581
    });
</script>
<div class="header">
    <div id="search"><input type="search" class="search"></div>
</div>
<div class="nav">
    <div ng-cloak ng-repeat="elem in nav" ng-class="elem.class" ng-click="currentNav($event)">
        <img ng-src="{{elem.url}}" title="elem.title" alt="elem.alt" width="25px">
    </div>
</div>
<div class="current_file">
    <span>Добро пожаловать, <span class="current_user">{{vk.data.user.first_name}}</span>.</span>

</div>
<div class="main" ng-cloak ng-switch on="place">
    <div class="logIn" ng-switch-when="Log"><button id="logIn" ng-click="vk.init()">Авторизироваться через VK</button></div>
    <div class="loading" ng-switch-when="Loading"><h3>Загрузка...</h3></div>
    <div class="albums" ng-switch-when="Albums">
        <div class="album" ng-cloak ng-repeat="elem in vk.albums_content">
            <img ng-src="{{elem.album_content[0].src}}" ng-attr-title="{{elem.album_title}}" width="120px">
        </div>
    </div>
</div>

</body>
</html>
