a {
	text-decoration: none;
	color: white;
}
a {}
main, body{
	margin: 0px;
	padding: 0px;
	color: white;
	font-family: 'Airborne' ,"PT Sans" , "Times new Roman", "arial";
	font-size: 10px;
	text-transform: uppercase;
.}
main>.section {
	overflow: hidden;
	padding: 0px;	
	vertical-align: top;
	margin-right: -4px;
	display: inline-block;
	box-sizing: padding-box;
	width: 20%;
	height: 100vh;

}
main .blue {
	background: transparent;
	position: relative;
	margin-top: -17px;
	padding: 0px;
	vertical-align: top;
	display: block;
	box-sizing: padding-box;
	width: 100%;
	height: 100%;

}


main .a1 {
    background-image: url(img/1.jpg); 
    background-position: 35% 0px;
    background-size: auto 100% ;
   }
 main .a2 {
    background-image: url(img/3.jpg); 
    background-position: 45% 0px;
    background-size: auto 100%;
   }
   main .a3 {
    background-image: url(img/2.jpg); 
    background-position: 35% 0px;
    background-size: auto 100%;
   }
   main .a4 {
    background-image: url(img/5.jpg); 
    background-position: 35% 0px;
    background-size: auto 100%;
   }
   main .a5 {
    background-image: url(img/4.jpg); 
    background-position: 40% 0px;
    background-size: auto 100%;
   }
  .section:hover>.blue{
  	background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(10, 10, 40, 0.9), rgba(10, 10, 40, 0.9), rgba(0, 0, 0, 1));
   	/*background: rgba(10, 10, 40, 0.8);*/
   	transition: all 0.4s ease-in-out;
   }
ul {
	width: 100%;
	margin:0px;
	padding: 0px;
	font-size: 10px;
	position: relative;
	box-sizing: border-box; 
	left: 0px;
	top: 45%;
	list-style: none;
}
li {
	letter-spacing: 2px;
	
	
}

 h2 {
 	box-sizing: border-box;
 	width: 100%;
 	padding-left: 13%;
 	cursor: pointer;
 	letter-spacing: 4px;
	display: block;
	font-size: 20px;
	position: relative;
	top: 40%;

}

@font-face {
    font-family: 'Airborne';
    src: local('Airborne'), 
    url('fonts/airborne.woff2') format('woff2'), 
    url('fonts/airborne.woff') format('woff'), 
    url('fonts/airborne.ttf') format('truetype');
    font-style: normal;
}

main footer>.footer-videos{
	position: fixed;
	bottom: 0px;
	left: 42.5%;
	border-radius: 10% 10% 0% 0%/25% 25% 0% 0%;
	text-align: center;
	vertical-align: middle;
	background-color: white;
	box-sizing: border-box;
	width: 14.5%;
	height: 10%;
	color: black;
	font-size: 200%;
}
.footer-videos p {
	padding-top: 5px; 
}

.logo {
	z-index: 1;
	position: absolute;
	width: 10%;	
}
h2::before {
	content: "";
	display: block;
	width: 50px;
	height: 20px;
	border-top: 1px solid white;
}
.blue li a {
	transition: all 0.4s ease-in-out;
}
.blue li:hover a{
	background-color: rgba( 40, 40, 60, 0.5);
	color: #edaa34;
	
}
.blue li {
	padding: 0px;
	margin: 0px;
	position: relative;
	left: 0px;
	box-sizing: border-box;
	width: 100%;
}
.blue li a {
	position: relative;
	margin: 0px;
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	left: 0px;
	padding:  5% 0px;
    width: 100%;
    padding-left: 14%;

}


.blue li a::before {
	content: "";
	display: inline-block;
	box-sizing: border-box;
	margin-left: 0px;
	margin-right: 10px;
	width: 15px;
	height: 15px;
	background-image: url(img/orn.png);
	background-repeat: no-repeat;
	background-size: contain;
	transform: scale(0.01);
	transition: all 0.4s ease-in-out;


}
.blue li:hover a::before {
	transform: scale(1);
	}
.blue li::hover a{
	transform: rotate(45deg);
	transition: transform 0.4s ease-in-out;
}
.nav {
	opacity: 0;
	position: absolute;
	z-index: 1;
	top: -17px;
	left: 80.2%;
}
.nav li{
	display: inline-block;
	margin: 0px;
	padding: 0px;
}
.nav ul a{
	transition: all 0.6s ease-in-out;
	position: relative;
	top: 15px;
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-left: 0px;
	padding-left: 20px;
	padding-top: 30px;
	padding-bottom: 15px;
	margin-right: 0px;
}

.nav ul li .phone {
	background-image: url(img/sprite1.png);
	background-repeat: no-repeat;
	background-position: 5px, -10px;
}
.nav .user {
	background-image: url(img/sprite1.png);
	background-repeat: no-repeat;
	background-position: -40px, -10px;
}
.nav .search {
	margin-right: 0px;
	background-image: url(img/sprite1.png);
	background-repeat: no-repeat;
	background-position: -85px, -10px;
}
.nav .other {
	margin-left: 3px;
	border-left: 1px solid white;
	background-image: url(img/sprite1.png);
	background-repeat: no-repeat;
	background-position: -125px, -15px;
}
 li ul{
 	z-index: 2;
 	border-radius: 5px;
 	position: absolute;
 	padding: 20px;
 	padding-top: -10px;
 	top: 110%;
 	left: 0%;
 	display: block;
 	transform: scale(0.001);
 	background: #edaa34;
 	box-shadow: 4px 2px 1px rgba(237, 157, 52, 0.8);
 	transition: transform 0.4s ease-in-out;
 	transform-origin: 20% 0%;
 }
 li ul li{
 	margin-top: -20px;
 	vertical-align: top;
 }
.block {
	position: absolute;
	top: -10px;	
	width: 0px;
	height: 0px;
	border: 10px solid #edaa34;
	border-top-width: 0;
	transform: translate(-5px);
	border-left-color: transparent;
	border-right-color: transparent;
 }
 .block1 {
	position: absolute;
	top: -10px;	
	width: 0px;
	height: 0px;
	border: 10px solid #edaa34;
	border-top-width: 0;
	transform: translate(47px);
	border-left-color: transparent;
	border-right-color: transparent;
 }
 .block2 {
	position: absolute;
	top: -10px;	
	width: 0px;
	height: 0px;
	border: 10px solid #edaa34;
	border-top-width: 0;
	transform: translate(124px);
	border-left-color: transparent;
	border-right-color: transparent;
 }
 .field{
 	display: inline-block;
 }

 .field:hover li ul{
 	transform: scale(1);
 	z-index: 10;
 }
 
 .nav a:hover {
    background-color: rgba( 40, 40, 60, 0.5);
    transform: scale(1.2);
   
 }
 
 input[type="submit"] {
 	margin-top: 10px;
 	position: relative;
 	left: 20%;
 	width: 100px;
 	color: white;
 	font-family: 'Airborne';
 	text-transform: uppercase;
 	border-radius: 5px;
 	background-color: rgba(50, 100, 150, 1);
 }
 main {
 	height: 100%;
 	background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(10, 10, 40, 0.9), rgba(10, 10, 40, 0.9), rgba(0, 0, 0, 1));

 }
 main .blue .text {
 	opacity: 0;
 }
 @keyframes movea5 {
 	0% { transform: translateX(-200%); }
 }
 @keyframes movea4 {
 	0% { transform: translateX(-150%); }
 }
 @keyframes movea3 {
 	0% { transform: translateX(-100%); }
 }
 @keyframes movea2 {
 	0% { transform: translateX(-50%); }
 }
 @keyframes opac {
 	0% { opacity: 0; }
 	100% {opacity: 1}
 }
 
 
 .a5 {
	z-index: 1;
	animation-name: movea5;
	animation-duration: 3s;
	animation-fill-mode: forwards;
}
 .a4 {
 	z-index: 2;
	animation-name: movea4;
	animation-duration: 3s;
	animation-fill-mode: forwards;	
}
.a3 {
 	z-index: 2;
	animation-name: movea3;
	animation-duration: 3s;
	animation-fill-mode: forwards;	
}
.a2 {
 	z-index: 2;
	animation-name: movea2;
	animation-duration: 3s;
	animation-fill-mode: forwards;	
}
.nav {
	animation-name: opac;
	animation-duration: 5s;
	animation-fill-mode: forwards;
	animation-delay: 3s;
}
.text {
	animation-name: opac;
	animation-duration: 5s;
	animation-fill-mode: forwards;
	animation-delay: 3s;
}