* {
    margin: 0px;
    padding: 0px;
    font-family: 'ClearSans-Light';
}
ClearSans-Light.ttf
@font-face {
    font-family: 'ClearSans-Light';
    src: local('ClearSans-Light'), url('fonts/ClearSans-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
body {
    display: flex;
    width: 100%;
    /*     height: 98vh; */
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.header {
    align-items: center;
    height: 50px;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    width: 70%;
    min-width: 600px;
    justify-content: space-between;
    background-color: #FF6700;
}

.header-left {
    display: flex;
    justify-content: flex-start;
    Color: white;
    align-items: center;
    font-size: 20px;
    height: 50px;
    width: 60%;
}
.header-left p {
    margin-right: 20px;
    margin-left: 20px;
}
.add_note {
    display: flex;
    border: 1px solid;
    border-color: transparent;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    justify-content: flex-end;
    transition: 0.3s all ease;
    align-items: center;
    cursor: pointer;
}
.add_note table {
    margin-left: 5px;
    cursor: pointer;
    transition: 0.3s all ease;
    border-collapse: collapse;
}
.add_note tr:first-of-type {
    border-bottom: 2px solid white;
}
.add_note td {
    height: 7px;
    width: 7px;
}
.add_note td:first-of-type {
    border-right: 2px solid white;
}
.add_note:hover {
    border-color: white;
}

.main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
    min-width: 400px;
    box-sizing: border-box;
}
input[type="search"] {
    padding-left: 30px;
    padding-right: 10px;
    border: 0px;
    border-radius: 15px;
    height: 35px;
    color: white;
    background-color: #FFAB73;
    min-width: 300px;
}
#search {
    position: relative;
}
#search::before {
    top: 10px;
    left: 10px;
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("img/search.png");
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("img/close.png");
}

input[type="search"]:active, input[type="search"]:focus {
    outline: 0;
    outline-offset: 0;
}
.add_container {
    position: fixed;
    left: 0px;
    top: 0px;
}
.add_fon {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0, 0.3);
}
.new_note {
    position: fixed;
    left: 30%;
    top: 20%;
    padding: 10px;
    z-index: 2;
    width: 500px;
    min-height: 100px;
    border-radius: 10px;
    background-color: rgba(255, 103, 0, 0.8);
}
.new_note {
    color: white;
}
.new_note h2 {
    margin-bottom: 10px;
}
.add_content {
    color: black;
    display: flex;
    font-size: 15px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    max-width: 100%;
    background-color: white;
    border-radius: 10px;
    min-height: 90px;
}
.new_note_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.close table {
    transform: rotate(45deg);
    margin-left: 5px;
    cursor: pointer;
    transition: 0.3s all ease;
    border-collapse: collapse;
}
.close tr:first-of-type {
    border-bottom: 2px solid white;
}
.close td {
    height: 10px;
    width: 10px;
}
.close td:first-of-type {
    border-right: 2px solid white;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}
.buttons input {
    background-color: rgba(255, 103, 0, 0.8);
    margin: 10px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
    width: 80px;
    color: white;
    border: 0px;
}
.buttons input:active, .buttons input:focus {
    outline: 0;
    background-color: rgba(255, 103, 0, 1);
    outline-offset: 0;
}
.tag {
    margin: 5px;
    margin-top: 0px;
    color: white;
    padding: 5px;
    border-radius: 5px;
    background-color: #FFAB73;
}
#textarea {
    width: 95%;
    min-height: 100px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0, 0.4);
    padding: 10px;
    margin-bottom: 10px;
}
#textarea:active, #textarea:focus {
    outline: 0;
    outline-offset: 0;
}
.colored_tag {
    color: blue;
}
.note {
    min-width: 400px;
    position: relative;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 70%;
    border: 2px solid #cfcfcf;
    min-height: 70px;
}
.note>p:first-of-type {
    padding: 10px;
    width: 80%;
    /*color: white;*/
    /*background-color: #A65600;*/
    border-radius: 10px;
}
.tags {
    display: flex;
    flex-wrap: wrap;
}
.note .tags {
    color: grey;
    margin-top: 10px;
}
.note .close {
    opacity: 0.5;
    position: absolute;
    top: 5px;
    right: 5px;
}
.note .close:hover {
    opacity: 1;
}
.note .close tr:first-of-type {
    border-bottom: 2px solid #FF6700;
}
.note .close td {
    height: 7px;
    width: 7px;
}
.note img {
    position: absolute;
    top: 5px;
    right: 25px;
    opacity: 0.7;
    cursor: pointer;
}
.note img:hover {
    opacity: 1;
}
.note .close td:first-of-type {
    border-right: 2px solid #FF6700;
}
.date {
    color: grey;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: flex-end;
}